<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="City1" value="Bengaluru"/>
		<add key="City2" value="Varanasi"/>
		<add key="City3" value="Mumbai"/>
		<add key="City4" value="Delhi"/>
		<add key="City5" value="Kolkata"/>
		<add key="RefreshTime" value="5000"/>
	</appSettings>
 <userSettings>
  <WindowsFormsApp5.Properties.Settings>
   <setting name="Left" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Top" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Width" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="Height" serializeAs="String">
    <value>200</value>
   </setting>
  </WindowsFormsApp5.Properties.Settings>
 </userSettings>
</configuration>